

.hiUser {
    width: 100%;
    height: auto;
}

.dHead {
    padding: 2rem;
    border-radius: .2rem;
    box-shadow: .4rem .4rem .5rem rgba(37, 37, 217, 0.09), -.4rem -.4rem .5rem rgba(37, 37, 217, 0.09);
}

.dLogo {
    height: 3.5rem;
}

.overHead {
    padding: .2rem;
    color: #fff;
    background-color: rgba(41, 41, 136, 1);
}

.dSection {
    padding-bottom: 2rem;
    box-shadow: .4rem .4rem .5rem rgba(37, 37, 217, 0.09), -.4rem -.4rem .5rem rgba(37, 37, 217, 0.09);
}

.custBtn {
    font-size: .7rem;
    border: 1.8px solid rgba(41, 41, 136, 1) ;
    border-radius: .3rem;
    color: rgba(41, 41, 136, 1);
    background-color: transparent;
}

.findBtn {
    background-color: rgba(41, 41, 136, 1);
    color: #fff;
}

.mdLog {
    width: 1.1rem;
    height: auto;
    transform: rotate(-90deg);
}

.dIcons{
    /* margin-top: -3rem; */
    margin-right: 1.2rem;
    width: 1.3rem;
    height: auto;
    color: rgba(41, 41, 136, 1);
}

.notice {
    color: rgba(255, 168, 0, 1);
    width: 1.3rem;
    height: auto;
}
#notice {
    margin: auto 2rem;
    color: rgba(255, 168, 0, 1);
    background-color: rgba(251, 197, 4, 0.2);
}

.dInput {
    width: 20rem;
    height: 5rem;
    margin-top: .5rem;
}

.ideaSection {
    margin-top: 1rem;
    padding-left: 2rem;
}

.ideaSection2 {
    margin-top: 1.5rem;
    padding-left: 2.2rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.dQuestion {
    padding-top: 1.3rem;
}

.iBtn {
    margin-left: 4rem;
    margin-top: 2rem;
}

.dRadio {
    margin-right: .5rem;
}

.researchQuestion, .newBtn {
    margin: auto 1.6rem;
    margin-top: 1.2rem;
}

.dPlus{
    width: 1.3rem;
    height: auto;
    margin-right: .5rem;
    color: rgba(41, 41, 136, 1);
}

.custCard {
    margin-top: 1rem;
    justify-items: justif;
}

.custLink {
    margin: auto 14rem;
}



@media only screen and (min-width:1024px) {
    .dHead {
        padding: 3rem;
        border-radius: .2rem;
    }
    
    .dLogo {
        height: 6rem;
    }

    .hiUser {
        width: 60px;
        height: auto;
    }

    .dIcons {
        margin-top: -6rem;
    }

    .dIcons1{
        margin-top: -1.5rem;
    }
}