.pattern {
  margin: 8rem 0rem;
}
#pattern {
  font-size: 1.5rem;
  font-weight: 500;
}

.subsection{
  margin: auto 1rem;
}

.valid {
  background-color: rgba(255, 204, 0, 0.9);
  color: black;
  padding: 0px;
}

.brand {
  width: 8%;
  margin: auto 1.5rem;
}

.textBrand {
  justify-content: space-evenly;
}

.star {
  color: rgba(255, 204, 0, 0.9);
}

@media only screen and (min-width:1024px) {
  #pattern {
    font-size: 2.8rem;
    font-family: Inter;
    font-weight: 500;
    color: rgba(18, 18, 59, 1);
  }
  .subsection{
    margin: auto 4rem;
  }
  
  .background {
    background-color: grey;
    margin-bottom: 3rem;
  }
  
  /* .priority {
    background-color: grey;
    display: -webkit-inline-flex;
    width: 50%;
    margin-top: 5rem;
    height: 15rem;
  } */
  .text {
    text-align: center;
    margin: 5rem 0rem;
    
  }

  .text > h5 {
    font-size: 1.6rem;
    font-family: Inter;
    font-weight: 600;
    color: rgba(18, 18, 59, 1);
  }
  .cap {
    display: flex;
  }
  
  .trust {
    background-color: grey;
    width: 70%;
    margin-bottom: 5rem;
    height: 9rem;
  }
  
  .valid {
    background-color: rgba(255, 204, 0, 0.9);
    color: rgba(18, 18, 59, 1);
    padding: 4px;
  }
}
