.navbarBox {
    background-color: transparent;
    justify-items: space-evenly;
    padding: 2rem 0rem;
}

.headerLogo {
    width: 6rem;
    height: 3.5rem;
}


li{
    color: rgba(41, 41, 136, 1);
    margin-left: 2rem;
}

.active {
    border: 2px solid rgba(41, 41, 136, 1);
    border-radius: .2rem;
    color: rgba(41, 41, 136, 1);
}

.nav-link {
    color: rgba(41, 41, 136, 1);
}

.img-arc {
    position: absolute;
    width: 400px;
    height:400px;
    top: 38%;
    right: -1%;
    border-left: .6rem solid rgba(41, 41, 136, 1);
    border-bottom: .6rem solid rgba(41, 41, 136, 1);
    border-radius: 50% 50% 50% 50%;
    border-top: .6rem solid rgba(41, 41, 136, 0);
    border-right: .6rem solid rgba(41, 41, 136, 0);
    transform: rotate(15deg);
    overflow: hidden;
}

.arc-right {
    transform: rotate(-36deg);
}

.small-circle {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 67%;
    top: 77%;
    border-radius: 50%;
    background-color: rgba(41, 41, 136, 1);
}

.circle-right {
    right: 17%;
    top: 100%;
    background-color: rgba(255, 204, 0, 1);
}

.Lo {
    z-index: 3;
}
.mid-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 68%;
    top: -62%;
    border-radius: 50%;
    background-color: rgba(254, 207, 23, 0.9);
    /* filter: blur(6px); */
    
}

.landImg {
    position: absolute;
    transform: rotate(-18deg);
    top: -1%;
    right: 7%;
    height: 100%;
}

.Hero-head {
    padding-top: 4rem;
    margin: auto 5rem;
}

.heroBtn {
    width: 50%;
    height: 60px;
    font-family: Inter;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(41, 41, 136, 1);
    margin:auto 5rem ;
    margin-top: 3rem;
  }


.Landtitle{
    font-size: 1.5rem;
    color: rgba(41, 41, 136, 1);
    font-weight: 600;
    width: 30%;
}
.Landdetail{
    color: rgba(41, 41, 136, 1);
}

.vision {
    margin-top: 26rem;
    margin-left: 0rem;
  }

  .chatbot {
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  .rightCol{
    /* margin-left: 2px; */
    padding: 0rem;
    z-index: 2;
  }

  .homemain {
    overflow: hidden;
  }

  .i-link {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    margin-top: 14rem;
    margin: auto 6rem;
    z-index: 1;
    overflow: hidden;
  }

  .iLink {
    color: rgba(41, 41, 136, 1);
   font-weight: 500;
  }

  .chatHome{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: .2rem;
    margin-right: 12rem;
  }

@media screen and (min-width:1024px) {
    .navLinkContainer {
        justify-content: right;
        margin-left: 2rem;
        
    }
    .navbarBox {
        background-color: transparent;
        justify-content: space-between;
        padding: 2rem 5rem;
    }

    .i-link {
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: space-between;
        margin-top: 4rem;
        margin: auto 5rem;
        z-index: 1;
        overflow: hidden;
      }

      .vision {
        margin-top: 6rem;
        margin-left: 3.5rem;
      }

      .rightCol{
        /* margin-left: 2px; */
        /* padding: 6rem 3rem; */
        z-index: 2;
      }

      .img-arc{
        width: 400px;
        height:400px;
        top: 25%;
        right: 18%;
      }

      .mid-circle {
        width: 60px;
        height: 60px;
        right: 61%;
        top: 54%;
      }

      .small-circle{
        right: 54%;
        top: 32%;
      }

      .circle-right{
        right: 17%;
        top: 110%;
      }
}