.navbarBox {
    background-color: transparent;
    justify-items: space-evenly;
    padding: 2rem 0rem;
}

.headerLogo {
    width: 6rem;
    height: 3.5rem;
}


li{
    color: rgba(41, 41, 136, 1);
    margin-left: 2rem;
}

.active {
    border: 2px solid rgba(41, 41, 136, 1);
    border-radius: .2rem;
    color: rgba(41, 41, 136, 1);
}

.nav-link {
    color: rgba(41, 41, 136, 1);
}

.img-arc {
    position: absolute;
    width: 400px;
    height:400px;
    top: 25%;
    right: 18%;
    border-left: .6rem solid rgba(41, 41, 136, 1);
    border-bottom: .6rem solid rgba(41, 41, 136, 1);
    border-radius: 50% 50% 50% 50%;
    border-top: .6rem solid rgba(41, 41, 136, 0);
    border-right: .6rem solid rgba(41, 41, 136, 0);
    transform: rotate(15deg);
    overflow: hidden;
}

.arc-right {
    transform: rotate(-36deg);
}

.small-circle {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 54%;
    top: 32%;
    border-radius: 50%;
    background-color: rgba(41, 41, 136, 1);
}

.circle-right {
    right: 17%;
    top: 110%;
    background-color: rgba(255, 204, 0, 1);
}

.Lo {
    z-index: 3;
}
.mid-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 61%;
    top: 54%;
    border-radius: 50%;
    background-color: rgba(254, 207, 23, 0.9);
    /* filter: blur(6px); */
}

.landImg {
    position: absolute;
    transform: rotate(-18deg);
    top: -1%;
    right: 7%;
    height: 100%;
}

.Hero-head {
    margin: auto 5rem;
}

.Landtitle{
    font-size: 1.5rem;
    color: rgba(41, 41, 136, 1);
}
.Landdetail{
    color: rgba(41, 41, 136, 1);
}

@media screen and (min-width:1024px) {
    .navLinkContainer {
        justify-content: right;
        margin-left: 2rem;
        
    }
    .navbarBox {
        background-color: transparent;
        justify-content: space-between;
        padding: 2rem 5rem;
    }


}