body {
  font-family: Helvetica, sans-serif;
}

.navbar-box {
  height: 100px;
}

.nav-start {
    margin-left: auto;
}

.navbar-changes {
  width: 90% !important;
}
.navbar-nav {
  gap: 10px;
}

.nav-gap {
  width: 65%;
  justify-content: space-between;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}

.nav-link.active {
    background: #292988;
    color: white !important;
    border-radius: 5px;
    padding: 0.6rem 1rem;
}


/* Footer */
.footer-landing {
  background: rgba(41, 41, 136, 1);
  padding: 100px 0;
}


.headerLogo {
  width: 8rem;
}

.ulchange {
    margin-bottom: 2.5rem;
}

@media (max-width: 1025px) {
    .nav-gap {
        width: 60%;
      }
}

@media (max-width: 768px) {
    .nav-gap {
        width: 40%;
        margin-left: 0 !important;
      }
}