body {
  margin: 0;
  font-family: MadaniArabic, 'Inter', 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: MadaniArabic, 'Inter', 'Helvetica';
}

