body {
  margin: 0;
  font-family: MadaniArabic, 'Inter', 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: MadaniArabic, 'Inter', 'Helvetica';
}

.heroImage {
  width: 50%;
  height: auto;
  margin: 15% auto 0% 25%;
}

.box {
  position: absolute;
  bottom: 21%;
  right: 27%;
  width: 100px;
  height: 60px;
  z-index: -1;
  background-color: rgba(255, 204, 0, 0.5);
}

.heroDetail {
  padding: 0 2rem;
}

.heroBtn {
  width: 50%;
  height: 60px;
  font-family: Inter;
  font-size: 1rem;
  padding-top: 1.2rem;
  color: #fff;
  background-color: rgba(41, 41, 136, 1);
}

.titleSpan {
  background-color: rgba(255, 204, 0, 1);
}

.heroBtn:hover {
  background: #fff !important;
  color: rgba(41, 41, 136, 1);
  font-size: 1.5rem;
  padding-top: 0rem;
}

.heroLeft {
  background-color: rgba(41, 41, 136, 0.1);
}

.numbText {
  font-size: 60px;
  font-weight: 700;
}

.circle {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 204, 0, 1);
}

.heroBtn2 {
  background-color: rgba(255, 204, 0, 1);
  width: 100%;
  height: 50px;
  padding-top: .8rem;
  color: #1c1c1c;
  margin-top: .4rem;
}

.heroBtn2:hover {
  background-color: rgb(32, 175, 32) !important;
  color: rgba(255, 204, 0, 1);
}

.researchRight {
  position: relative;
  background-color: rgba(41, 41, 136, 1);
  color: #fff;
  font-family: Inter;
  width: 100%;
  height: 200px;
  padding: 2.5rem 0rem;
  padding-left: 3rem;
  border-radius: 25px;
  z-index: 1;
}

.researchShadow {
  position: absolute;
  top: 50%;
  width: 78%;
  height: 150px;
  margin: auto 2rem;
  border-radius: 20px;
  background-color: rgba(41, 41, 136, 0.06);
}

.wave {
  width: 25%;
  height: 50%;
  margin: auto 6rem;
  margin-top: 4.5rem;
  transform: rotate(140deg);
}

.planForm {
  background-color: rgba(41, 41, 136, 0.07);
  padding: 3rem;
  margin: 6rem 0rem;
  margin-top: 7.5rem;
}

.planInput {
  width: 100%;
  height: 50px;
  padding: 1rem;
  margin: .4rem 0rem;
  border: none;
  border-radius: .5rem;
}

.numberSection {
  padding-top:3rem ;
  margin: 0rem .4rem;
}

.researchLeft {
  margin-top: 6rem;
}

.planInput ::placeholder {
  font-size: 10px;
  color: rgba(226, 225, 225, 0.75);
}

.title {
 font-size: 30px;
  font-weight: 600;
  color: rgba(18, 18, 59, 1);
}

.subTitle {
  font-size: 26px;
  font-weight: 600;
  color: rgba(18, 18, 59, 1);
}

.bgTest {
  background-color: rgba(41, 41, 136, 0.04);
}

.testifyCard {
  width: 75%;
  margin: auto;
  margin-top: .6rem;
  padding: .8rem;
  border-radius: .2rem;
  box-shadow: .4rem .4rem .5rem rgba(37, 37, 217, 0.09), -.4rem -.4rem .5rem rgba(37, 37, 217, 0.09);
  background-color: #fff;
  cursor: pointer;
}


.profilePics {
  width: 40%;
}

.proDetail {
  font-size: .8rem;
}



/* @media only screen and (min-width:768px){
  .hero {
    margin: auto 6rem;
    margin-top: -1rem;
    height: 80vh;
  }
  .heroDetail {
    margin-top: 2rem;
    padding: 7rem 0rem;
  }

  .box {
    position: absolute;
    top: 22%;
    right: 5%;
    width: 180px;
    height: 102px;
    background-color: rgba(255, 204, 0, 0.5);
  }

  .researchShadow {
    position: absolute;
    top: 60%;
    width: 65%;
    height: 150px;
    margin: auto 6rem;
    border-radius: 20px;
    background-color: rgba(41, 41, 136, 0.06);
  }

  form {
    background-color: rgba(41, 41, 136, 0.07);
    padding: 3rem;
    margin: 3rem 0rem;
    margin-top: 0rem;
  }

  .numberSection {
    margin: auto 6rem;
    padding-top: 6rem;
  }
} */

@media only screen and (min-width:1024px) {
  
  
  .box {
    position: absolute;
    top: 31%;
    right: 15%;
    width: 180px;
    height: 102px;
    z-index: -1;
  }
  
  .box1 {
    background-color: #1c1c1c;
  }
  .hero {
    justify-content: space-between;
    margin-top: -6rem;
  }

  .heroDetail {
    margin-top: 9rem;
    padding: 0 2rem 0 7rem;
  }

  .planDetail {
    padding: 7rem 0rem;
  }
  
  .researchLeft {
    margin-top: .2rem;
  }

.testifyCard {
  width: 65%;
  margin: auto;
  margin-top: .6rem;
  padding: 1rem;
}

  .profilePics {
    width: 20%;
  }

  
  .heroLeft {
    background-color: rgba(41, 41, 136, 0.1);
  }
  
  .researchRight {
    position: relative;
    background-color: rgba(41, 41, 136, 1);
    color: #fff;
    font-family: Inter;
    width: 85%;
    height: 200px;
    padding: 2rem 0rem;
    padding-left: 3rem;
    border-radius: 25px;
    z-index: 1;
  }
  
  .numbText {
    font-size: 60px;
    font-weight: 700;
  }
  
  .circle {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 204, 0, 1);
  }
  
  .numberSection {
    margin: auto 4.5rem;
    padding-top: 6rem;
  }
  
  .researchShadow {
    position: absolute;
    top: 55%;
    width: 65%;
    height: 150px;
    margin: auto 3rem;
    border-radius: 20px;
    background-color: rgba(41, 41, 136, 0.06);
  }
  
  .wave {
    width: 25%;
    height: 50%;
    margin: auto 10rem;
    margin-top: 4rem;
    transform: rotate(140deg);
  }
  
  .planForm {
    background-color: rgba(41, 41, 136, 0.07);
    padding: 3rem;
    margin: 6rem 0rem;
    margin-top: 7.5rem;
  }
  
  .planInput {
    width: 100%;
    height: 50px;
    padding: 1rem;
    margin: .4rem 0rem;
    border: none;
    border-radius: .5rem;
  }
  
  
  .title {
   font-size: 40px;
    font-weight: 600;
    color: rgba(18, 18, 59, 1);
  }
  
  .subTitle {
    font-size: 26px;
    font-weight: 600;
    color: rgba(18, 18, 59, 1);
  }

  .proTitle {
    /* font-size: 26px; */
    font-weight: 600;
    color: rgba(18, 18, 59, 1);
  }
  
}

@media only screen and (min-width: 1245px) {
  .heroDetail {
    padding: 0 7rem;
  }
  .title {
    font-size: 47px;
   }
}